body{
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    height: 100%;
}

.container{
    width:  220px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.cube{
    margin: auto;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 2s ease;
}


.cube:hover{
    transform: rotateX(180deg) rotateZ(720deg);
}

.side{
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center; 
}

.side.front{
    transform: translate3d(0,0,100px);
}


.side.left{
    transform: translate3d(-100px,0px,0px) rotateY(-90deg);
}



.side.right{
    transform: translate3d(100px,0px,0px) rotateY(90deg);
}


.side.back{
    transform: translate3d(0,0,-100px) rotateY(180deg) rotateZ(180deg);
}

.side.top{
    transform: translate3d(0,-100px,0) rotateX(90deg);
}

.side.bottom{
    transform: translate3d(0,100px,0) rotateX(90deg);
}

.side.red{
    color: #fff;
    background-color: red;
}

.side.grey{
    color: rgb(120,120,120);
    background-color: rgb(242,242,242);
}

.side .icon{
    margin: 30% auto;
    font-size: 85px;
}

.brm{
    color: black;
}
.btm{
    color: rgba(29,161,242,1.00);
}